
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {

  font-family: 'Poppins', sans-serif;
  margin: 0px auto;
  background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(222,224,232,1) 60%, rgba(174,177,187,1) 100%);
  min-height: 100vh;
  padding: 30px;
  

}

.topmenu{

  color:white;
  font-size: 15px;
  background: #5c5c5c;
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 5px 30px;
  border-radius: 6px;



}


.iconestopmenu {

  display: flex;
  align-items: center;
  gap: 10px;

}

.iconestopmenu a{

  display: flex;
  padding: 0px;

}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
  padding: 5px 30px;

}

ul{
  
  list-style: none;
  display: flex;
  gap: 20px;
  
  

}

ul li a{
  
  color:#1F1534;
  text-decoration: none;
  opacity: 1;
  
}

ul li a:hover {

  font-weight: bold;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
 

}

h2 {
  margin-bottom: 100px;
  margin-top: 0px;
}


#produtos,
p {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

#produtos .p1 {
  color: rgba(245, 33, 33, 0.671)
}

#produtos .p2 {
  color: rgb(60, 60, 233)
}

#produtos .p3 {
  color: rgb(155, 209, 75)
}

#produtos .p4 {
  color: black
}

#produtos .p5 {
  color: rgb(163, 163, 6)
}

.p1 span,
.p2 span,
.p3 span,
.p4 span,
.p5 span {
  color: #888888;
}

#whatsicon {
  position: fixed;
  bottom: 20px;
  right: 20px;

}

#line {
  background: #333;
  height: 2px;
  margin: 200px 20px 20px;
}

#links a {
  color: rgb(73, 70, 70);

}

#links {
  text-align: center;
}

#links a+a {
  margin-left: 28px;

}